* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5a78ee;
}

#card {
  height: 400px;
  width: 300px;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
}

img {
  border-radius: 10px;
  height: 50%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
